# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

/api/__develop__/*

/api/test.php
/XAMPP/*
/portalealloraspengo/*

/pyscripts/*
/embedded_python_exploration/*

.idea

favicon.ico

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

prova.html

api/prova_reset\.php
api/reset/test_mail.php

.vscode

projects/indexYT\.html
